In [21]:
_ = sql("DROP TABLE IF EXISTS GPS")
_ = sql("""
CREATE TABLE gps
USING com.esri.spark.shp
OPTIONS (path "data/gps.shp", format "WKT", columns "atext,adate")
""")

In [22]:
sql("DESCRIBE gps").show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
|   shape|   string|   null|
|   atext|   string|   null|
|   adate|     date|   null|
+--------+---------+-------+

In [23]:
sql("select shape,atext,adate from gps").show(truncate=False)

+------------------------+-----+----------+
|shape                   |atext|adate     |
+------------------------+-----+----------+
|POINT (-76.9245 38.9719)|N4   |2000-01-14|
|POINT (-77.0811 38.8353)|N8   |2000-01-19|
|POINT (-76.9868 38.8576)|N3   |2000-01-24|
|POINT (-77.0814 38.9303)|N4   |2000-01-11|
|POINT (-77.0944 38.8447)|N1   |2000-01-23|
|POINT (-77.0945 38.8738)|N5   |2000-01-17|
|POINT (-77.0558 38.9676)|N8   |2000-01-30|
|POINT (-76.9833 38.9171)|N9   |2000-01-22|
|POINT (-77.0115 38.9125)|N8   |2000-01-04|
|POINT (-77.0711 38.91)  |N5   |2000-01-30|
|POINT (-77.0904 38.8185)|N2   |2000-01-25|
|POINT (-76.9284 38.97)  |N2   |2000-01-13|
|POINT (-77.1178 38.9256)|N2   |2000-01-19|
|POINT (-77.0548 38.8122)|N2   |2000-01-26|
|POINT (-76.976 38.8575) |N3   |2000-01-30|
|POINT (-76.9903 38.9039)|N7   |2000-01-22|
|POINT (-77.1186 38.977) |N8   |2000-01-04|
|POINT (-76.9989 38.9461)|N1   |2000-01-24|
|POINT (-76.9735 38.8364)|N4   |2000-01-25|
|POINT (-76.9096 38.8724)|N2   |2000-01-23|
+------------------------+-----+----------+
only showing top 20 rows

In [24]:
df = spark.read \
    .format("com.esri.spark.shp") \
    .options(path="data/gps.shp", columns="atext,adate", format="GEOJSON") \
    .load() \
    .cache()

In [25]:
df.printSchema()

root
 |-- shape: string (nullable = true)
 |-- atext: string (nullable = true)
 |-- adate: date (nullable = true)

In [26]:
df.createOrReplaceTempView("T0")

In [27]:
df.count()

100000

In [28]:
sql("select atext,adate,shape GeoJSON from T0").show(truncate=False)

+-----+----------+-------------------------------------------------+
|atext|adate     |GeoJSON                                          |
+-----+----------+-------------------------------------------------+
|N4   |2000-01-14|{"type":"Point","coordinates":[-76.9245,38.9719]}|
|N8   |2000-01-19|{"type":"Point","coordinates":[-77.0811,38.8353]}|
|N3   |2000-01-24|{"type":"Point","coordinates":[-76.9868,38.8576]}|
|N4   |2000-01-11|{"type":"Point","coordinates":[-77.0814,38.9303]}|
|N1   |2000-01-23|{"type":"Point","coordinates":[-77.0944,38.8447]}|
|N5   |2000-01-17|{"type":"Point","coordinates":[-77.0945,38.8738]}|
|N8   |2000-01-30|{"type":"Point","coordinates":[-77.0558,38.9676]}|
|N9   |2000-01-22|{"type":"Point","coordinates":[-76.9833,38.9171]}|
|N8   |2000-01-04|{"type":"Point","coordinates":[-77.0115,38.9125]}|
|N5   |2000-01-30|{"type":"Point","coordinates":[-77.0711,38.91]}  |
|N2   |2000-01-25|{"type":"Point","coordinates":[-77.0904,38.8185]}|
|N2   |2000-01-13|{"type":"Point","coordinates":[-76.9284,38.97]}  |
|N2   |2000-01-19|{"type":"Point","coordinates":[-77.1178,38.9256]}|
|N2   |2000-01-26|{"type":"Point","coordinates":[-77.0548,38.8122]}|
|N3   |2000-01-30|{"type":"Point","coordinates":[-76.976,38.8575]} |
|N7   |2000-01-22|{"type":"Point","coordinates":[-76.9903,38.9039]}|
|N8   |2000-01-04|{"type":"Point","coordinates":[-77.1186,38.977]} |
|N1   |2000-01-24|{"type":"Point","coordinates":[-76.9989,38.9461]}|
|N4   |2000-01-25|{"type":"Point","coordinates":[-76.9735,38.8364]}|
|N2   |2000-01-23|{"type":"Point","coordinates":[-76.9096,38.8724]}|
+-----+----------+-------------------------------------------------+
only showing top 20 rows