In [19]:
df = spark.read \
    .format("com.esri.shp") \
    .options(path="/Users/mraad/DCOCTO/Metro_Station_Entrances_in_DC/Metro_Station_Entrances_in_DC.shp") \
    .load()

In [20]:
df.printSchema()

root
 |-- shape: binary (nullable = true)
 |-- objectid: long (nullable = true)
 |-- gis_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- web_url: string (nullable = true)
 |-- exit_to_st: string (nullable = true)
 |-- featurecod: long (nullable = true)
 |-- descriptio: string (nullable = true)
 |-- captureyea: string (nullable = true)
 |-- line: string (nullable = true)
 |-- address_id: long (nullable = true)
 |-- address: string (nullable = true)

In [21]:
df.createOrReplaceTempView("T0")

In [23]:
sql("select line,address from T0").show(truncate=False)

+--------------------+-----------------------------------------------+
|line                |address                                        |
+--------------------+-----------------------------------------------+
|red                 |1351 19TH ST NW, WASHINGTON, DC 20036          |
|blue, silver        |4500 BENNING ROAD NE, WASHINGTON, DC 20019     |
|red                 |801 MICHIGAN AVENUE NE, WASHINGTON, DC 20017   |
|red                 |801 MICHIGAN AVENUE NE, WASHINGTON, DC 20017   |
|red, green, yellow  |550 GALLOWAY STREET NE, WASHINGTON, DC 20011   |
|green               |1101 HOWARD ROAD SE, WASHINGTON, DC 20020      |
|green               |1101 HOWARD ROAD SE, WASHINGTON, DC 20020      |
|green               |1290 ALABAMA AVENUE SE, WASHINGTON, DC 20020   |
|green               |1290 ALABAMA AVENUE SE, WASHINGTON, DC 20020   |
|blue, silver        |4500 BENNING ROAD NE, WASHINGTON, DC 20019     |
|orange              |4000 MINNESOTA AVENUE NE, WASHINGTON, DC 20019 |
|orange              |4000 MINNESOTA AVENUE NE, WASHINGTON, DC 20019 |
|green,yellow        |3030 14TH STREET NW, WASHINGTON, DC 20009      |
|green               |1290 ALABAMA AVENUE SE, WASHINGTON, DC 20020   |
|orange              |4720 MINNESOTA AVENUE NE, WASHINGTON, DC 20019 |
|blue, orange, silver|401 3RD STREET SW, WASHINGTON, DC 20024        |
|orange              |4000 MINNESOTA AVENUE NE, WASHINGTON, DC 20019 |
|green               |1155 NEW JERSEY AVENUE SE, WASHINGTON, DC 20003|
|green,yellow        |1801 7TH ST NW, WASHINGTON, DC 20001           |
|green,yellow        |1240 U STREET NW, WASHINGTON, DC 20009         |
+--------------------+-----------------------------------------------+
only showing top 20 rows